button {
    padding: 0.5rem 2.5rem;
    background-color: var(--primary);
    color: var(--on-primary);
    border: 1px solid var(--primary);
    border-radius: 100vh;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s;
}


button.outline {
    background-color: transparent;
    color: var(--primary);
}

button.outline:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    border: 1px solid var(--primary);
}

button.none {
    background-color: none;
    border-color: transparent;
    color: var(--primary);
}

button.none:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    border: 1px solid var(--primary);
}
